#choice_btn, #order_black_btn {
    display: block;
    position: relative;
    margin: -20vh auto;
    width: 20%;
    height: 10vh;
    text-align: center;
    font-family: 'CursiveFont';
    font-size: 25px;
    transition: 0.5s;   
    background-size: 200% auto;
    color: white;
    border-radius: 10px;
    background-image: linear-gradient(to right, #bd1111 0%, #e41c1c 51%, #bd1111 100%);
}

#choice_btn:hover, #order_black_btn {
    background-position: right center;
    cursor: pointer;
}

.buttons{
    display: flex;
    position: absolute;
    z-index: 400;
    top: 90%;
    width: 12%;
    height: 5vh;
    background-color: transparent ;
    cursor: pointer;
}

#vk {
    display: inline;
    position: relative;
    left: 5%;
    width: 100%;

}

#vk:hover {
    background-image: url("images/icons/vkpressed.png");
    cursor: pointer;
}

#tg {
    display: inline;
    position: relative;
    left:10%;
    width: 100%;
}

#mail {
    display: inline;
    position: relative;
    left:15%;
    width: 100%;
}

#order_black_btn {
    width: 50%;
    height: 11vh;
    margin: 0;
    margin: -10vh auto;
    opacity: 1;
}

@media screen and (max-width: 1024px) {
    #choice-btn { 
        width: 200px;
        font-size: 10px;
    }

    /* h3 { font-size: 35px; } */
}