#choice_btn {
    display: block;
    position: relative;
    margin: -20vh auto;
    width: 20%;
    height: 10vh;
    text-align: center;
    font-family: 'LexingtonC';
    font-size: 25px;
    transition: 0.5s;   
    background-size: 200% auto;
    color: white;
    border-radius: 10px;
    background-image: linear-gradient(to right, #c50000 0%, #f60b0b 51%, #c50000 100%);
}

#choice_btn:hover {
    background-position: right center;
    cursor: pointer;
}

