#choice_btn, .to_order_btn {
    display: block;
    position: relative;
    width: 300px;
    height: 10vh;
    text-align: center;
    font-family: 'CursiveFont';
    font-size: 25px;
    transition: 0.5s;
    border-radius: 10px;
    background: rgba(255, 0, 0, 1.0);
    opacity: 1 !important;
}

#choice_btn {
    margin: -20vh auto;
    background-size: 200% auto;
    color: white;
    background-image: linear-gradient(to right, #bd1111 0%, #e41c1c 51%, #bd1111 100%);
}

#choice_btn:hover, .to_order_btn {
    background-position: right center;
    cursor: pointer;
}

.buttons {
    display: flex;
    position: absolute;
    z-index: 400;
    top: 92%;
    height: 5vh;
    background-color: transparent;
    cursor: pointer;
    align-items: center;
    justify-content: space-evenly;
    grid-gap: 15px;
}

#vk, #tg, #mail, #git {
    width: 60px;
}

#git {
    width: 50px;
}

.order_black_btn {
    width: 50%;
    height: 11vh;
    margin: -10vh auto;
}

.order_color_btn {
    width: 25%;
    margin: 38vh auto 0 auto;
}

.to_order_btn:hover {
    background-image: none;
    background-color: #210808;
    opacity: 1 !important;
}

.order_big_btn {
    width: 50%;
    margin: 10vh auto;
}

@media screen and (max-width: 1024px) {
    #choice-btn { 
        width: 200px;
        font-size: 10px;
    }

    /* h3 { font-size: 35px; } */
}