@font-face {
    font-family: "LexingtonC"; 
    src: url("../fonts/LexingtonC.ttf") format("truetype"); 
    font-style: normal; 
    font-weight: normal; 
  } 

  @font-face {
    font-family: "CursiveFont"; 
    src: url("../fonts/CursiveFont.ttf") format("truetype"); 
    font-style: normal; 
    font-weight: normal; 
  } 

  @font-face {
    font-family: "Description"; 
    src: url("../fonts/DescriptionFont.ttf") format("truetype"); 
    font-style: normal; 
    font-weight: normal; 
  } 