.menu {
    position: fixed;
    margin: auto;
    left: 0;
    right: 0;
    width: 37%;
    height: 5.5%;
    z-index: 90;
    font-family: "CursiveFont";
    font-size: 16pt;
    background-color: #210808;
    border-radius: 8px;
}

nav a {
    display: inline-block;
    position: relative;
    z-index: 100;
    margin-top: 5px;
    text-decoration: none;
    text-align: center;
    color: #adac7e;
    cursor: pointer;
    background-color: transparent;
    border: 1px solid #210808;
    border-radius: 8px;
    transition: 1.5s;
}
nav a:hover {
    background-color: #bc1515;
}

a:nth-child(1) {
    width: 22.5%;
}

a:nth-child(2) {
    width: 15%;
}

a:nth-child(3) {
    width: 35%;
}

a:nth-child(4) {
    width: 22.5%;
}

.basket {
    position: fixed;
    z-index: 90;
    font-family: "CursiveFont";
    font-size: 16pt;
    border-radius: 8px;
}

.basket-btn {
    position: fixed;
    width: 5%;
    height: 5.5%;
    margin-top: 0.3vh;
    margin-left: 89.5%;
    z-index: 90;
    text-align: center;
    font-family: "CursiveFont";
    font-size: 20px;
    border-radius: 8px;
    background-color: #210808;
    background-size: 64px;
    box-sizing: border-box;
    color: white;
    transition: 0.5s;
}

.basket-image {
    width: 45%;
    margin-top: 0.5vh;
    /* background-color: #210808; */
}

.basket-btn:hover {
    background-color: #bc1515;
}

