body {
    background-image: url("../images/header_page/shaurma_header.png");
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    font-family: 'CursiveFont';
}

.photo{
    border-radius: 25px;
}

.background
{
    position: absolute;
    width: 100%;
    margin-top: 10%;
    border-radius: 25px;
    background-image: url("../images/header_page/shawa_background.png");
    background-attachment: fixed;
    background-repeat: repeat;
    background-size: cover;
    z-index: 29;
}
.shavaList{
    z-index: 30;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.shavaObj{
    background-color: white;
    width: 20%;
    height: 20%;
    border: 1px solid #210808;
    font-family: 'Description';
    font-size: small;
    color:black;
    border-radius: 25px;
    margin-top: 20px;
}