body {
    background-image: url("../images/header_page/shaurma_header.png");
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    font-family: 'CursiveFont';
}

.background
{
    position: absolute;
    width: 100%;
    margin-top: 10%;
    border-radius: 25px;
    background-image: url("../images/header_page/shawa_background.png");
    background-attachment: fixed;
    background-repeat: repeat;
    background-size: cover;
    z-index: 29;
}
.shavaList{
    z-index: 30;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.shavaObj{
    position: relative;
    background-color: transparent;
    width: 20%;
    height: 20%;
    border: 1px solid transparent;
    font-family: 'CursiveFont';
    font-size: medium;
    color:black;
    margin-top: 23px;
}

.shavaObj img {
    border-radius: 25px;
}

.addButton{
    min-height: 20%;
    width: 40%;
    color:blue;
    position: absolute;
    top: 76%;
    right: 30%;
    background-color: #212121;
    color: #adac7e;
    border-radius: 50px;
    transition: 1.5s;
}

.addButtoni{
    min-height: 10%;
    width: 28%;
    color:blue;
    position: absolute;
    bottom: calc(var(--size)*5.8);
    right: 2%;
    background-color: #212121;
    font-size: larger;
    color: #adac7e;
    border-radius: 50px;
    transition: 1.5s;
}

.addButton:hover {
    background-color: #bc1515;
}

.addButtoni:hover {
    background-color: #bc1515;
}

.weight{
    width: 20%;
    position: absolute;
    bottom: 5%;
    left: 5%;
    color: white;
    z-index: 100;
}

.cost{
    width: 21%;
    position: absolute;
    bottom: 5%;
    left: 80%;
    color: white;
    z-index: 100;
}

.name{
    position: absolute;
    top: -17%;
    left: 27%;
    color: black;
    font-size: larger;
    z-index: 100;
}

.shadow{
    background-image: linear-gradient(to right,black,  black );
    opacity: 50%;
    z-index: 1;
    width: 100%;
    height: 100%;
    display: none;
    position: absolute;
}

.shavaInfo ,#shava0, #shava1, #shava2, #shava3, #shava4, #shava5{
    position: fixed;
    background-image: url("../images/header_page/shawa_background.png");
    background-attachment: fixed;
    background-repeat: repeat;
    background-size: cover;
    border-radius: 25px;
    color:#adac7e;
    display: none;
    z-index: 99999;
    width: 60%;
    height: calc(var(--size)*20);
}

.shavaInfo img{
    width: 65%;
    border-radius: 25px;
    position: absolute;
    top: 12%;
    left: 3%;
}

.namei{
    position: absolute;
    left: 35%;
    top: 0%;
    color: #ff4d00;
    font-size: calc(var(--size)*1.5);
    z-index: 1;
}

.weighti{
    position: absolute;
    color: white;
    bottom: 12vh;
    left: 5%;
    font-size: calc(var(--size)*1.15);
    z-index: 1;
}

.costi{
    position: absolute;
    color: white;
    bottom: 12vh;
    left: 58%;
    font-size: calc(var(--size)*1.15);
    z-index: 1;
}

.compositioni{
    position: absolute;
    color: #ff4d00;
    top: 13%;
    right: 0%;
    font-size: calc(var(--size)*0.83);
    width: 32%;
    z-index: 1;
}

.descriptioni{
    position: absolute;
    color: #ff4d00;
    bottom: 7vh;
    left: 5%;
    font-size: calc(var(--size)*1.15);
    z-index: 1;
}

#shava1 .descriptioni{
    bottom: 0vh;
}

.dark{
    position: absolute;
    background-color: #212121;
    z-index: 900;
    width: 100%;
    height: 100%;
    opacity: 30%;
    display: none;
}

@media screen and (min-width: 1520px) {
    .name{
        top: -15%;
    }
}

@media screen and (max-width: 1200px) {

    .background {
        top: calc(var(--size)*3.6);
        height: calc(var(--size)*22);
        height: 90%;
        overflow: scroll;
        top: 5%;
        overflow-x: hidden;
    }

    .shavaObj {
        top: 1vh;
        width: 30%;
    }

    .descriptioni {
        bottom: 20%;
    }

    .compositioni {
        font-size: calc(var(--size)*0.7);
    }

    .costi {
        left: 55%;
    }

    .addButtoni {
        max-height: 5%;
        font-size: small;
        bottom: calc(var(--size)*7);
    }

    .shavaInfo ,#shava0, #shava1, #shava2, #shava3, #shava4, #shava5{
        height: calc(var(--size)*18.8);
    }

    .dark {
        position: fixed;
        top: -10%;
        height: 110%;
    }
}

@media screen and (max-width: 992px) {

    .background {
        height: calc(var(--size)*38.5);
        top: 7%;
    }

    .shavaObj {
        width: 40%;
    }

    .shavaInfo ,#shava0, #shava1, #shava2, #shava3, #shava4, #shava5{
        top: calc(var(--size)*18);
        width: 75%;
    }

    .compositioni {
        font-size: calc(var(--size)*0.85);
    }

    .addButtoni {
        bottom: calc(var(--size)*6);
    }

    .descriptioni {
        bottom: 16%;
    }

    #shava1 .descriptioni {
        font-size: calc(var(--size)*1.1);
    }

    .costi {
        bottom: 8vh;
        font-size: calc(var(--size)*1.5);
    }

    .weighti {
        bottom: 8vh;
        font-size: calc(var(--size)*1.5);
    }
}

@media screen and (max-width: 768px) {



    .background {
        height: 90%;
        overflow: scroll;
        top: 1%;
        overflow-x: hidden;
    }

    .shavaObj {
        width: 70%;
        margin-top: 30px;
    }

    .shavaInfo ,#shava0, #shava1, #shava2, #shava3, #shava4, #shava5 {
        width: 90%;
        height: calc(var(--size)*20);
    }

    .name {
        top: -15%;
        font-size: calc(var(--size)*1.5);
    }

    .weight {
        font-size: calc(var(--size)*1.5);
    }

    .cost {
        font-size: calc(var(--size)*1.5);
    }

    .addButton {
        font-size: calc(var(--size)*1.1);
        width: 40%;
        min-height: calc(var(--size)*2.5);
        bottom: calc(var(--size)*1.1);
    }

    .compositioni {
        font-size: calc(var(--size));
    }

    .addButtoni {
        bottom: calc(var(--size)*4);
        font-size: calc(var(--size)*0.75);
    }

    .descriptioni {
        font-size: calc(var(--size)*1.5);
        bottom: 6%;
    }

    #shava1 .descriptioni {
        font-size: calc(var(--size)*1.1);
        bottom: 1%;
    }

    .costi {
        left: 53%;
    }
}

@media screen and (max-width: 624px) {

    .shavaInfo ,#shava0, #shava1, #shava2, #shava3, #shava4, #shava5 {
        height: calc(var(--size)*18);
    }

    .compositioni {
        font-size: calc(var(--size)*0.8);
    }

    .addButtoni {
        bottom: calc(var(--size)*5);
        font-size: calc(var(--size)*0.75);
    }

    #shava1 .descriptioni {
        font-size: calc(var(--size));
    }
}