.shavaList{
    position: absolute;
    margin: 10%;
    z-index: 30;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

}

.shavaObj1{
    width: 20%;
    height: 20%;
    border: 1px solid #210808;
    font-family: 'Description';
    font-size: small;
    color:black;
    border-radius: 5px;
    margin-top: 10px;
}
.shavaObj0{
    width: 20%;
    height: 20%;
    border: 1px solid #210808;
    font-family: 'Description';
    font-size: small;
    color:black;
    border-radius: 5px;
    margin-top: 10px;
}