body {
  background-image: url("../images/header_page/shaurma_header.png");
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  font-family: 'CursiveFont';
}

:root {
  --size: calc(1vw + 1vh);
}

#main {
  position: relative;
  direction: ltr;
  border-radius: 25px;
  margin-top: 15vh;
  width: 100%;
  padding-bottom: 8vh;
  background-image: url("../images/header_page/shawa_background.png");
  background-attachment: fixed;
  background-repeat: repeat;
  background-size: cover;
  z-index: 99;
}

#purchase-list {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  background-color: rgb(118, 29, 29);
  border-radius: 25px;
  z-index: 100;
  width: 70%;
  margin-left: 1%;
  margin-top: 6vh;
  padding-bottom: 1vh;
  grid-gap: 1vh;
  top: 4vh;
}

.purchase-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

#basket-counter {
  margin-left: 2%;
  margin-top: 1%;
  margin-bottom: 1%;
  font-family: 'CursiveFont';
  font-size: 25px;
  color: white;
}

.item {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;
  border-radius: 25px;
  z-index: 100;
  align-items: center;
}

.shava-image {
  margin-top: 1%;
  border-radius: 25px;
  width: calc(var(--size) * 12.5);
  height: calc(var(--size) * 7);
}

.text-block {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  text-align: left;
  grid-gap: 5px;
  width: 35%;
}

.text-block h5 {
  font-size: 20px;
}

.price-block {
  font-size: 20px;
}


.items {
  height: 70vh;
  overflow-y: scroll;
}

.quantityCheck {
  position: absolute;
  left: 81.25%
}

.ordering {
  border: solid 1px;
  background-color: rgba(200, 200, 200, 0.8);
  border-color: #bc1515;
  position: absolute;
  width: 28%;
  height: 90%;
  z-index: 99;
  top: 18.87%;
  right: 0%;
  border-radius: 25px;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  color:#bc1515;
}

.order {
  color:#bc1515;
  font-size: xx-large;
}

.bankCard {
  outline: none;
  position: relative;
  height: 40px;
  border-radius: 50px;
  font-size: x-large;
  border: none;
  color: black;
  background-color: transparent;
  margin-top: 10px;
  left: 6%;
  width: 60%;
}

#cardDate {
  width: 18%;
}

#cardCvv {
  width: 13%;
}

#number, #date, #cvv, #Name{
  font-size: calc(var(--size));
  position: relative;
  color:#bc1515;
  left: 6%;
  width: 50%;
}

#cvv {
  font-size: calc(var(--size)*1.25);
}

@media screen and (max-width: 1200px) {
  #main {
      display: flex;
      flex-direction: column;
      align-items: center;
      height: auto;
      padding-bottom: 5vh;
  }

  #purchase-list {
      width: 98%;
      grid-gap: 3vh;
  }

  .price-block {
      font-size: 16px;
  }

  .to_order_block, .history-btn {
      width: calc(var(--size) * 22.5);
  }

  #purchase-list, .to_order_block, .history-btn {
      position: relative;
      margin-left: auto;
      margin-right: auto;
      margin-top: 6vh;
  }

  #history-block {
      /* width: calc(var(--size) * 40); */
      width: 70%;
  }

  .shava-image {
      width: calc(var(--size) * 17);
      height: calc(var(--size) * 8);
  }
}

@media screen and (max-width: 992px) {
  #history-block {
      width: 98%;
  }
}

@media screen and (max-width: 768px) {
  .purchase-header {
      padding-bottom: 2vh;
  }

  .to_order_block, .history-btn {
      width: 400px;
  }

  .history-btn {
      font-size: calc(var(--size) * 2)
  }

  .element-counter, .text-block {
      align-items: center;
      justify-content: space-around;
  }

  .element-counter {
      justify-content: space-between;
      width: 175px;
  }

  .text-block {
      width: 90%;
      text-align: center;
  }

  .item {
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      grid-gap: 4vh;
  }

  .shava-image {
      width: 400px;
      height: 200px;
  }

  .price-block {
      font-size: 30px;
  }

  .price-block p {
      margin-top: 0;
  }

  #history-list {
      grid-gap: 20px;
  }

  .h-item {
      flex-direction: column;
      justify-content: center;
      grid-gap: 20px;
      font-size: 25px;
  }

  .hist-shava-image {
      width: 60%;
      height: 20vh;
  }
}

@media screen and (max-width: 480px) {
  .to_order_block, .history-btn {
      width: 98%;
  }

  .shava-image {
      width: 80%;
  }
}

  #numberOfGoods {
    width: 100%;
    color: black;
    z-index: 8898;
  }