body {
  background-image: url("../images/header_page/shaurma_header.png");
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  font-family: 'CursiveFont';
  overflow-x: hidden;
}

:root {
  --size: calc(1vw + 1vh);
}

#main {
  min-height: 101vh;
  position: relative;
  direction: ltr;
  border-radius: 25px;
  margin-top: 15vh;
  width: 100%;
  padding-bottom: 8vh;
  background-image: url("../images/header_page/shawa_background.png");
  background-attachment: fixed;
  background-repeat: repeat;
  background-size: cover;
  z-index: 99;
}

#purchase-list {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  background-color: rgb(118, 29, 29);
  border-radius: 25px;
  z-index: 100;
  width: 70%;
  margin-left: 1%;
  margin-top: 6vh;
  padding-bottom: 1vh;
  grid-gap: 1vh;
  top: 4vh;
}

.purchase-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

#basket-counter {
  margin-left: 2%;
  margin-top: 1%;
  margin-bottom: 1%;
  font-family: 'CursiveFont';
  font-size: 25px;
  color: white;
}

.item {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;
  border-radius: 25px;
  z-index: 100;
  align-items: center;
}

.shava-image {
  margin-top: 1%;
  border-radius: 25px;
  width: calc(var(--size) * 12.5);
  height: calc(var(--size) * 7);
}

.text-block {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  text-align: left;
  grid-gap: 5px;
  width: 35%;
}

.text-block h5 {
  font-size: 20px;
}

.price-block {
  font-size: 20px;
}


.items {
  height: 70vh;
  overflow-y: scroll;
}

.quantityCheck {
  position: absolute;
  left: 81.25%
}

.ordering {
  border: solid 1px;
  background-color: rgba(200, 200, 200, 0.8);
  border-color: #bc1515;
  position: absolute;
  width: 28%;
  height: 105%;
  z-index: 99;
  top: 18.87%;
  right: 0%;
  border-radius: 25px;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  color:#bc1515;
}

.order {
  color:#bc1515;
  font-size: xx-large;
}

.bankCard {
  outline: none;
  position: relative;
  height: 40px;
  border-radius: 50px;
  font-size: x-large;
  border: none;
  color: black;
  background-color: transparent;
  margin-top: 10px;
  left: 6%;
  width: 60%;
}

#cardDate {
  width: 18%;
}

#cardCvv {
  width: 13%;
}

#number, #date, #cvv, #Name, #Date, #time, #submit{
  font-size: calc(var(--size));
  position: relative;
  color:#bc1515;
  left: 6%;
  width: 50%;
}

#submit {
  border-radius: 25px;
  background: #bc1515;
  color: #adac7e;
  font-family: cursive;
  transform: translate(40%, 90%);
}

#cvv {
  font-size: calc(var(--size)*1.25);
}

#Time {
  font-size: xx-large;
}

.check {
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  font-size: x-large;
  margin-left: 30px;
}

#Салфетки, #Соус, #Лаваш,  #Сухари, #Доставка {
  width: 20%;
  margin-top: 10px;
  margin-left: 4px;
}

.box {
  position: absolute;
  z-index: -1;
  opacity: 0;
  width: 20%;
}

.box+label {
  display: inline-flex;
  align-items: center;
  user-select: none;
}
.box+label::before {
  content: '';
  display: inline-block;
  width: 1em;
  height: 1em;
  flex-shrink: 0;
  flex-grow: 0;
  border: 1px solid #c34040;
  border-radius: 0.25em;
  margin-right: 0.5em;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50% 50%;
}

.box:checked+label::before {
  border-color: #bc1515;
  background-color: #bc1515;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
}

.box:not(:disabled):not(:checked)+label:hover::before {
  border-color: #bc1515;
}

.box:not(:disabled):active+label::before {
  background-color: #bc1515;
  border-color: #bc1515;
}

.box:focus+label::before {
  box-shadow: 0 0 0 0.2rem rgba(188, 21, 21, 0.4);
}

.box:focus:not(:checked)+label::before {
  border-color: #bc1515;
}

.box:disabled+label::before {
  background-color: #bc1515;
}

#custName {
  width: 40%;
}

.cal {
  width: 10%;
  position: relative;
}

.calw {
display: inline;
}

.calendar {
  position: absolute;
  margin-top:88%;
  margin-left: 30%;
  display: flex;
  width: 80%;
  height: 37vh;
  z-index: -100;
  overflow-x: hidden;
}

.table {
  display: none;
  width: 80%;
  height: 70%;
  background-color: #bc1515;
  border-color: transparent;
  border-radius: 15px;
  align-items: center;
}

.tHeader {
  width: 60%;
}

.line {
  text-align: center;
  border-radius: 25px;
  transition: 0.6s;
}

.line:hover {
  background-color: #e20c0c;
  transition: 0.6s;
}

@media screen and (max-width: 1200px) {

  .ordering{
    width: 100%;
    height: 70vh;
    position: relative;
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    flex-wrap: wrap;
    bottom: 1%;
  }


  #main {
      display: flex;
      flex-direction: column;
      align-items: center;
      height: auto;
      padding-bottom: 5vh;
  }

  .order {
    position: absolute;
    height: 10%;
    left:40%;
  }

  #number, #date, #cvv, #Name, #Date, #time, #submit, #customName, #calData, #cardDate, #custName, #cardNumber  {
  position: absolute;
  }

  #submit {
    top:80%;
  }

  #number {
    top: 10%;
  }

  #cardNumber {
    top: 12%;
  }

  #date {
    top: 23%;
  }

  #cardDate {
    top: 28%;
  }

  #cvv {
    top: 38%;
  }

  #cardCvv {
    position: absolute;
    top: 43%;
  }

  #Name {
    top: 56%;
  }

  #custName {
    top: 60%
  }

  #time {
    top: 20%;
    left: 80%;
    width: 20%;
  }

  #Time {
    position: absolute;
    width: 10%;
    top: 25%;
    left: 80%;
  }

  #Date {
    width: 20%;
    left: 80%
  }

  #calDate {
    width: 35%;
    top: 10%;
    transform: translate(40%);
    /* left: calc(var(--size)*2.5); */
  }

  .cal {
    width: 2%;
    top: 9%;
    right: calc(var(--size)*5);
    position: absolute;
  }

  .calendar {
    bottom: 25%;
    width: 30%;
    right: 20%;
    height: 60%;
  }

  #purchase-list {
      width: 98%;
      grid-gap: 3vh;
  }

  .price-block {
      font-size: 16px;
  }

  #purchase-list{
      position: relative;
      margin-left: auto;
      margin-right: auto;
      margin-top: 6vh;
  }

  .shava-image {
      width: calc(var(--size) * 17);
      height: calc(var(--size) * 8);
  }
}

@media screen and (max-width: 992px) {
  #history-block {
      width: 98%;
  }
  .check {
    position: absolute;
    width: 30%;
    display: inline;
    top: 30%;
    left: 37%;
    margin: 3px;

  }

  #calDate {
    top:5%;
  }
}

@media screen and (max-width: 768px) {

  .order {
    font-size: medium;
    left: 34%;
  }

  #calDate {
    font-size: small;
    transform: translate(10%);
    top: 4%;
  }

  .check {
    font-size: medium;
  }

  .purchase-header {
      padding-bottom: 2vh;
  }

  .to_order_block, .history-btn {
      width: 400px;
  }

  .history-btn {
      font-size: calc(var(--size) * 2)
  }

  .element-counter, .text-block {
      align-items: center;
      justify-content: space-around;
  }

  .element-counter {
      justify-content: space-between;
      width: 175px;
  }

  .text-block {
      width: 90%;
      text-align: center;
  }

  .item {
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      grid-gap: 4vh;
  }

  .shava-image {
      width: 400px;
      height: 200px;
  }

  .price-block {
      font-size: 30px;
  }

  .price-block p {
      margin-top: 0;
  }

  #history-list {
      grid-gap: 20px;
  }

  .h-item {
      flex-direction: column;
      justify-content: center;
      grid-gap: 20px;
      font-size: 25px;
  }

  .hist-shava-image {
      width: 60%;
      height: 20vh;
  }
}

@media screen and (max-width: 480px) {
  .to_order_block, .history-btn {
      width: 98%;
  }

  .shava-image {
      width: 80%;
  }
}

  #numberOfGoods {
    width: 100%;
    color: black;
    z-index: 8898;
  }