.slide1_text {
    margin: 25vh auto;
    background-color: transparent;
}

.slide1_text h2, .slide1_text h3 {
    align-content: center;
    text-align: center;
    font-family: 'LexingtonC';
    background-color: transparent;
}

h2 {
    font-size: 75px;
}

h3 {
    font-size: 50px;
}

.slide2_block {
    position: absolute;
    width: 40%;
    margin: 0 60%;
    height: 100%;
    z-index: 200;
    opacity: 0.8;
    box-shadow: 0 0 50px 50px black; /* второй - размытие, третий - форма */
    background-color: black;
}

.slide2_text {
    padding: 15vh 10px;
}

.slide2_text h3 {
    align-content: center;
    text-align: center;
    font-family: 'CursiveFont';
}

.slide2_text p {
    align-content: center;
    text-align: center;
    font-family: 'CursiveFont';
    font-size: 20px;
}

.slide2_text .food_compos {
    align-content: normal;
    text-align: left;
    font-size: 17px;
}

.card {
    min-height: 100vh;
    font-size: 16px;
}

.slider-container {
    overflow: hidden;
    position: relative;
    max-width: 100%;
    padding: 0;
    margin: 0;
}

.swiper-pagination {
    background-color: transparent;
}

.swiper-pagination-bullet {
    opacity: 0.4 !important;
}

.swiper-pagination-bullet-active {
    background-color: white !important;
    opacity: 1 !important;
}

.swiper-button-prev::after, .swiper-button-next::after {
    color: white;
}

.swiper-button-prev:hover, .swiper-button-next:hover {
    color: black;
}

.slide1, .slide2, .slide3, .slide4 {
    background-size: cover;
}

.slide1 {
    background-image: url("../images/header_page/shaurma_header.png");
}

.slide2 {
    background-image: url("../images/header_page/black_shaverma.jpeg");
    opacity: 0.95;
}

.slide3 {
    background-image: url("../images/header_page/header.jpg");
}

.slide4 {
    background-image: url("../images/header_page/XXL_shaverma.png");
}

@media screen and (max-width: 1024px) {
    h2 { font-size: 60px; }
    h3 { font-size: 35px; }
}

@media screen and (max-width: 600px) {
    h2 { font-size: 40px; }
    h3 { font-size: 18px; }
}